<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Create new record</h1>
      <div *ngIf="resMessage" class="alert alert-success">{{resMessage}}</div>
      <div *ngIf="errMessage" class="alert alert-danger">{{errMessage}}</div>
      <form #addRecordForm="ngForm" (ngSubmit)="submitRecord();addRecordForm.reset();" novalidate
            autocomplete="off">
        <div class="form-group">
          <label for="Type">Type</label>
          <select class="form-control" [(ngModel)]="recordData.type" id="Type" name="recordType"
                  #recordType="ngModel" required>
            <option *ngFor="let type of recordTypes" [value]="type">{{type}}</option>
          </select>
          <div [hidden]="recordType.valid || recordType.pristine" class="alert alert-danger">
            Type is required
          </div>
        </div>
        <div class="form-group">
          <label for="Name">Name</label>
          <input id="Name" class="form-control"
                 type="text"
                 name="recordName"
                 #recordName="ngModel"
                 [(ngModel)]="recordData.name">
          <ul class="list-group-item" *ngIf="myTypeaheads">
            <li *ngFor="let typeahead of myTypeaheads" (click)="fillForm(typeahead)">{{typeahead._name}}
            </li>
          </ul>

          <div [hidden]="recordName.valid || recordName.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea class="form-control" [(ngModel)]="recordData.description" id="Description"
                    name="recordDesc"></textarea>
        </div>

        <div class="form-group">
          <label for="Distance">Distance</label>
          <input class="form-control" [(ngModel)]="recordData.distance" id="Distance" type="number"
                 name="recordDist">
        </div>

        <div class="form-group">
          <label for="Created">Created</label>
          <input class="form-control" [(ngModel)]="recordData.created" id="Created" type="date"
                 name="recordCreated" #recordCreated="ngModel" required>
          <div [hidden]="recordCreated.valid || recordCreated.pristine" class="alert alert-danger">
            Date is required
          </div>
        </div>
        <div class="form-group">
          <label for="Duration">Duration in seconds</label>
          <input [(ngModel)]="recordData.duration" class="form-control" id="Duration" type="number"
                 name="record" #record="ngModel" required>
          <div [hidden]="record.valid || record.pristine" class="alert alert-danger">
            Duration is required
          </div>
        </div>
        <input type="submit" class="btn btn-primary" [disabled]="addRecordForm.invalid">
      </form>
    </div>
  </div>
</div>
