<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Login</h1>
      <form name="form" (ngSubmit)="f.form.valid && login();" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input id="username" type="text" class="form-control" name="username" [(ngModel)]="model.username"
                 #username="ngModel" required/>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" name="password"
                 [(ngModel)]="model.password" #password="ngModel" required/>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
          <button id="login-btn" class="btn btn-primary">Login</button>
          <a routerLink="/newUser" class="btn btn-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
