<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Sport diary</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a routerLink="/records" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Table of
        records</a></li>
      <li><a routerLink="/records/add" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Add new
        record</a></li>
      <li><a routerLink="/charts" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Charts</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

            <span>
                <button routerLink="/login" type="button" class="btn btn-primary navbar-btn">Login</button>
                <button routerLink="/newUser" type="button" class="btn btn-primary navbar-btn">Sign up</button>
            </span>

      <div class="btn-group" dropdown>
        <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split navbar-btn">
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" routerLink="/user">User profile</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <logout></logout>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
