<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Charts</h1>

      <ul class="list-inline">
        <li>
          <chart [options]="options1" (load)="saveChart1($event.context)"></chart>
        </li>
        <li>
          <chart [options]="options2" (load)="saveChart2($event.context)"></chart>
        </li>
      </ul>

    </div>
  </div>
</div>
