<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Register new user</h1>
      <div *ngIf="resMessage" class="alert alert-success">{{resMessage}}</div>
      <div *ngIf="errMessage" class="alert alert-danger">{{errMessage}}</div>
      <form #addUserForm="ngForm" (ngSubmit)="submitUser();addUserForm.reset();" novalidate autocomplete="off">
        <div class="form-group">
          <label for="Name">Name</label>
          <input id="Name" class="form-control" type="text" name="userName" #userName="ngModel"
                 [(ngModel)]="userData._name" required/>
          <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input class="form-control" [(ngModel)]="userData._email" id="email" name="userEmail"
                 #userEmail="ngModel" required/>
          <div [hidden]="userEmail.valid || userEmail.pristine" class="alert alert-danger">
            E-mail is required
          </div>
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input class="form-control" [(ngModel)]="userData._age" id="age" type="number" name="userAge"
                 #userAge="ngModel" required/>
          <div [hidden]="userAge.valid || userAge.pristine" class="alert alert-danger">
            Age is required
          </div>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" [(ngModel)]="userData._country" id="country" type="text"
                  name="userCountry" #userCountry="ngModel" required>
            <option *ngFor="let coun of userCountries" [value]="coun">{{coun}}</option>
          </select>
          <div [hidden]="userCountry.valid || userCountry.pristine" class="alert alert-danger">
            Country is required
          </div>
        </div>

        <div class="form-group">
          <label for="Sex">Sex</label>
          <select class="form-control" [(ngModel)]="userData._sex" id="sex" type="text" name="userSex"
                  #userSex="ngModel" required>
            <option *ngFor="let sex of gender" [value]="sex">{{sex}}</option>
          </select>
          <div [hidden]="userSex.valid || userSex.pristine" class="alert alert-danger">
            Sex is required
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" [(ngModel)]="userData._password" id="password" type="text"
                 name="userPassword" #userPassword="ngModel" required/>
          <div [hidden]="userPassword.valid || userPassword.pristine" class="alert alert-danger">
            Password is required
          </div>
        </div>
        <input type="submit" class="btn btn-primary" [disabled]="addUserForm.invalid">
        <a routerLink="/login" class="btn btn-link">Back to Login</a>
      </form>
    </div>
  </div>
</div>
